#root {
  width: 100%;
  height: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 1.5rem 1rem .5rem;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.container img {
  width: 65%;
  height: auto;
}
.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}
.box {
  display: flex;
  flex-direction: column;
}
label {
  text-align: left;
  padding: 5px;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select,
input {
  background: var(--accentdark2);
  color: aliceblue;
  padding: 5px 10px;
  font-size: clamp(1rem ,1.2vw,1.3rem);
  border: 1px solid transparent;
  box-shadow: 0 3px 8px rgba(114, 137, 145, 0.3);
}
select {
  border-radius: 0 0 10px 10px;
}
input {
  border-radius: 10px 10px 0 0;
}
#ccopt:focus,
#convertedAmount:focus {
  outline: none;
  border-color: var(--accent);
}
#bcopt:focus,
#baseAmount:focus {
  outline: none;
  border-color: var(--accent2);
}
