@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(252, 252, 252);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  --accent: #2bb7da;
  --accent2: #00ff80;
  --accentdark2:rgb(29, 29, 29);
}

a {
  font-weight: 500;
  color: var(--accent2);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent);
  cursor: crosshair;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(70deg, #131a1b, rgb(18, 32, 41), #131a1b);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.3em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: aliceblue;
  background:linear-gradient(20deg,var(--accent),var(--accent2));
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
button:hover {
  border-color: var(--accent2);
  transform: translate(0, -2px) scale(1.05);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--accent);
  }
  button {
    background-color: #f9f9f9;
  }
}
